.container {
  font-family: 'Styrene A Web';
  font-size: 16px;
  padding: 28px 15px 0;
  max-width: 1440px;
  width: 100%;
  margin: auto;

  @media screen and (min-width: 768px) {
    padding-top: 71px;
  }
}

.heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  margin: auto;
  
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    text-align: center;
  }

}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  @media screen and (min-width: 1260px) {
    justify-content: center;
    align-items: flex-start;
  }
}
